<div class="card p-0.5 m-2 bg-base-300"
     [ngClass]="[task.isCompleted ? 'shadow-success shadow-md border-success-content border-2' : 'text-accent-content']">
    <div class="card-body flex flex-row h-full">
        <div class="flex-1 text-xl h-fit overflow-hidden">{{task.title}}</div>
        <input type="checkbox" [attr.checked]="task.isCompleted ? '' : null" (click)="completeTask()"
               class="checkbox checkbox-md"/>
        <fa-icon icon="trash" class="text-red-500 cursor-pointer" size="xl" (click)="deleteTask()"></fa-icon>
    </div>
    <span *ngIf="task.isCompleted" class="text-success mx-5">completed at: {{task.completedAt | date:'short'}}</span>
</div>
